
h2 {

    font-size: 50px;
    color: yellowgreen;
}

.box1 {

    padding-left: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.box2 {

    padding: 500px 300px 200px 100px;
    margin: auto;
}

.box3 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.box4 {

    margin: 500px 800px 400px 300px;
}

.box {

    border: 20px greenyellow solid;
}

.mix-borders {

    border-style: dashed dotted double solid;
    border-color: chocolate;
    border-width: 10px;
    color: yellowgreen;
    font-size: 50px;
    background-color: rgb(158, 37, 177);
}

.circle-container {

    /* border: solid; */
    background-color: rgb(158, 37, 177);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    padding-left: 10px;
}